body {
    background-color: #212738;
    color: #FDD2AF;
    font-family: 'Lato', sans-serif;
}

.header {
    background-color: #FDD2AF;
    color: #212738;
}

#bear-form {
    width: 75%;
}

#submit-button {
    background-color: #FDD2AF;
    color: #212738;
    border-color: #FDD2AF;
}

.card {
    color: #212738;
}